<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DRSoftware_POS.Properties.Settings.Doctor_ERPConnectionString"
            connectionString="Data Source=DESKTOP-G2RP03B;Initial Catalog=Doctor_ERP;Persist Security Info=True;User ID=sa;Password=Aly4807"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>