<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Doctor_ERPEntities" connectionString="metadata=res://*/DataModels.DRSoftware_Model.csdl|res://*/DataModels.DRSoftware_Model.ssdl|res://*/DataModels.DRSoftware_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G2RP03B;initial catalog=Doctor_ERP;persist security info=True;user id=sa;password=Aly4807;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DRSoftware_lib.Properties.Settings.Doctor_ERPCNString"
      connectionString="Data Source=DESKTOP-G2RP03B;Initial Catalog=Doctor_ERP;Persist Security Info=True;User ID=sa;Password=Aly4807"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>